<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пост</title>
    <link rel="stylesheet" href="/../css/main.css">
    <script src="/../js/main.js" defer></script>
</head>
<body>
   <header>
       <span id="logo">blogname</span>
   </header>
   <div class="page">
    <h1>Добавить пост</h1>
    <form method="post">
        <input type="text" placeholder="Заголовок" autocomplete="off" name="title"><br>
        <textarea cols="30" rows="10" placeholder="Текст статьи" name="content"></textarea><br>
        <input type="submit" value="Отправить" class="btn post">
    </form>
    </div>
</body>
</html>
